/* Asegura que el contenedor de la cámara no se desborde ni crezca gigante */
#webcam-container {
    width: 100%;
    max-width: 300px;
     margin: 15px 0 15px 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

#webcam-container canvas {
    width: 100% !important;
    height: auto !important;
    border-radius: 15px;
    border: 4px solid #070a07;
}

/* Contenedor del nuevo botón para mantenerlo centrado y limpio */
.capture-container {
    display: flex;
    justify-content: center;
    margin: 10px 0;
}

.btn-capture {
    background-color: #e67e22;
    color: white;
    padding: 10px 20px;
    font-size: 15px;
    font-weight: bold;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    width: 100%;
    max-width: 200px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
}